section{
    background-image: url(./vertical.png);
    background-repeat:repeat-y;
    
}
article{
    background-image: url(./tablet.jpeg);
    background-repeat: no-repeat;
    background-position: top ,right;
}